body {
  background-color: #a89b8c;
}

form {
  display: grid;
  grid-template-columns: 400px;
  align-items: center;
  justify-content: center;
}

label {
  color: #f0dfad;
  font-size: 24px;
  margin-bottom: 10px;
}

fieldset {
  display: grid;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-color: #edf0da;
  border-width: 10px;
  border-style: double;
}
input {
  font-size: 16px;
  height: 20px;
  border: transparent;
  border-bottom: 4px solid #edf0da;
  background-color: transparent;
}

small {
  height: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  justify-self: start;
  color: #aa4465;
  font-weight: bold;
}

.invalid {
  border-bottom-color: #aa4465;
}

.valid {
  border-bottom-color: greenyellow;
}

input:invalid {
  border-bottom-color: #aa4465;
}

input:focus {
  border: transparent;
  border-bottom: 4px solid #edf0da;
  outline: transparent;
}

button {
  border: 4px solid rgb(170, 68, 101);
  background-color: #edf0da;
  color: #aa4465;
  justify-self: center;
  border-radius: 7px;
  outline: transparent;
  padding: 12px 20px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
}

button:hover {
  box-shadow: 0px 0px 7px 3px inset rgba(170, 68, 101, 0.3);
}

button:active {
  box-shadow: 0px 0px 7px 3px inset rgba(170, 68, 101, 0.5);
}
